
:root[color-mode="light"] {
    --surface1: #e6e6e6;
    --surface2: #f2f2f2;
    --surface3: #ffffff;
    --element1: #111111;
    --element2: #222222;
    --element3: #333333;
    --elementInverse: #eee;
    --primary: #01408e;
    --secondary: #3c5d5c;
    --tertiary: #fff7d6;
    --box-shadow: rgba(0, 0, 0, 0.1);
  }
  
:root[color-mode="dark"] {
    --surface1: #262626;
    --surface2: #333333;
    --surface3: #404040;
    --element1: #eeeeee;
    --element2: #dddddd;
    --element3: #cccccc;
    --elementInverse: #111;
    --primary: #8fceff;
    --secondary: #72faca;
    --tertiary: #eee8a9;
    --box-shadow:rgba(0, 0, 0, 0.2);
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 1rem !important;
}

body {
    background-color: var(--surface1) !important;
    color: var(--element1);
}


.container .todo-items .collection-item {
    background-color: var(--surface2);
    padding: 1rem;
    box-shadow: 0 0 1rem -0.25rem var(--box-shadow) ;
    margin-left: 0;
    margin-right: 0;
    color: var(--element2);
}

.container:nth-child(2) {
    background-color: var(--surface2);
    box-shadow:0 0 1rem -0.25rem var(--box-shadow);
    padding: 1rem;
    margin-top: 2rem;
    color: var(--element2);
}

input {
    color: var(--element2);
}


/* dark mode styling */
/* body.dark-mode  {
    background-color: var(--dark-bg-color);
    color: white;
}
.dark-mode .container .todo-items .collection-item {
    background-color: var(--lighter-dark-bg-color);
    box-shadow:0 0 1rem -0.25rem rgba(255, 255, 255, 0.082);
    color: white;
}
.dark-mode .container:nth-child(1) {
    background-color: var(--lighter-dark-bg-color);
    box-shadow:0 0 1rem -0.25rem rgba(255, 255, 255, 0.082);
    color: white;
}
.dark-mode input {
    color: white;
}

.dark-mode .select-dropdown {
    background-color:var(--lighter-dark-bg-color) !important ;
    color: white !important;
} */

header h4 {
    font-size: 1rem;
    margin-top:.8rem;
}
body section.todo-list {
    margin-top: 3rem;
}
.todo-items {
    list-style: none;
}
section.todo-list{
    margin-bottom: 10rem ;
}

.todo-items span {
    display: block;
}

.secondary {
    margin-top: 9px
}

.secondary-content {
    cursor: pointer;
}

.check-task {
    margin-top: 9px;
}

.nav-wrapper {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
}

.date {
    display: flex;
    flex-direction: row;
    padding-right: .5rem;
    margin-bottom: -1rem;
}

.date h4 {
    font-size: 1rem;
}
span.priority {
    border-radius: 3px;
    font-size: .8rem !important;
    width: auto;
    color: white !important;
}

/*dark mode toggler*/
.dark-toggler{
    margin-top: 2rem !important;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1);
}
.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}
.checkbox:checked + .label .ball {
	transform: translateX(24px);
}
