:root {
    --light-bg-color: #fcfbfe;
    /* --light-shadow-color: #111; */
    --dark-bg-color:#1A191E;
    --dark-shadow-color:#111;
    --lighter-dark-bg-color: #2c2b31;
}

body {
    background-color: var(--light-bg-color);
}

.container .todo-items .collection-item {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 1rem -0.25rem rgba(0, 0, 0, 0.1);
    margin-left: 0;
    margin-right: 0;
}

.container:nth-child(1) {
    background-color: white;
    box-shadow:0 0 1rem -0.25rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 3rem;
}
body.dark-mode  {
    background-color: var(--dark-bg-color);
    color: white;
}
.dark-mode .container .todo-items .collection-item {
    background-color: var(--lighter-dark-bg-color);
    box-shadow:0 0 1rem -0.25rem rgba(255, 255, 255, 0.082);
    color: white;
}
.dark-mode .container:nth-child(1) {
    background-color: var(--lighter-dark-bg-color);
    box-shadow:0 0 1rem -0.25rem rgba(255, 255, 255, 0.082);
    color: white;
}
.dark-mode input {
    color: white;
}

.select-dropdown {
    background-color:var(--lighter-dark-bg-color) !important ;
    color: white !important;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* span {
    display: block;
} */
header h4 {
    font-size: 1rem;
    margin-top:.8rem;
}

.horizontal-line {
    height: 1px;
    width: 70%;
    margin: 3rem auto;
    background-color: #dddddd;
}

.todo-items {
    list-style: none;
}
section.todo-list{
    margin-bottom: 10rem ;
}

.todo-items span {
    display: block;
}

.secondary {
    margin-top: 9px
}

.secondary-content {
    cursor: pointer;
}

.check-task {
    margin-top: 9px;
}

.nav-wrapper {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
}

.date {
    display: flex;
    flex-direction: row;
    padding-right: .5rem;
    margin-bottom: -1rem;
}

.date h4 {
    font-size: 1rem;
}
span.priority {
    border-radius: 3px;
    font-size: .8rem !important;
    width: auto;
    color: white !important;
}