:root {
    --light-bg-color: #fcfbfe;
    /* --light-shadow-color: #111; */
    --dark-bg-color:#1A191E;
    --dark-shadow-color:#111;
    --lighter-dark-bg-color: #27262b;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* span {
    display: block;
} */
header h4 {
    font-size: 1rem;
    margin-top:.8rem;
}

.horizontal-line {
    height: 1px;
    width: 70%;
    margin: 3rem auto;
    background-color: #dddddd;
}

.todo-items {
    list-style: none;
}
section.todo-list{
    margin-bottom: 10rem ;
}

.todo-items span {
    display: block;
}

.secondary {
    margin-top: 9px
}

.secondary-content {
    cursor: pointer;
}

.check-task {
    margin-top: 9px;
}

.nav-wrapper {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 0 auto;
}

.date {
    display: flex;
    flex-direction: row;
    padding-right: .5rem;
    margin-top: 3rem;
    margin-bottom: -1rem;
}

.date h4 {
    font-size: 1rem;
}
span.priority {
    border-radius: 3px;
    font-size: .8rem !important;
    width: auto;
    color: white !important;
}